* {
    font-family: "Poppins", sans-serif;
}
.wrapper{
width: 600px;
    height: max-content;
    margin: 0 auto;
}
.container {
    background-color: #003f69;
    width: 100%;
    height: 80%;
    padding-bottom: 7px;
}

h1 {
    color: #fff;
    text-align: center;
    font-weight: 200;
}

.input {
    background-color: #fff;
    width: 95%;
    margin: 0 auto 10px;
    padding-bottom: 10px;
}

input {
    padding: 7px;
    /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px; */
    margin: 10px;
}

select {
    padding: 7px;
    width: 96.5%;
    margin-left: 10px;
    opacity: 0.8;
}

.input2,
.input1 {
    display: flex;
}
.inputtt{
    flex:1
}
.inputtt > input{
    width: 86%;
}

.block2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    margin: 10px;
}

.flex {
    display: flex;
    align-items: center;
    position: relative;
}

.fl-1 {
    flex: 1;
}

.fl-1>input {
    width: 94%;
}

.fl-2 {
    position: absolute;
    right: 13px;
    display: inline-block;
    width: max-content;

    background-color: #f99104;
    border: 1px solid #ccc;
    text-align: center;
}

label {
    display: inline-block;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
}

.block3 {
    display: flex;
    justify-content: end;
}

button {
    padding: 5px;
    width: 80px;
    margin-right: 20px;
    color: #fff;
    background-color: #f99104;
    border: none;
}

span {
    font-size: 12px;
    opacity: 0.6;
    padding: 10px;
}

.input2>input,
.input1>input {
    width: 100%;
}

label.error{
    color: black;
    font-size: small;
    padding-left: 10px;
}
